body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 240, 240, 0.998);
  }
  .home {
    display: flex;
    width: 100%;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box1 {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
  }
  
  .box_login {
    width: 40%;
    border-radius: 20px;
  }
  .box_form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10%;
    padding: 4%;
  }
  .texte {
    padding: 10px 20%;
    font-size: 12px;
    text-align: justify;
  }
  .input_box input {
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    padding: 20px;
    border-color: rgba(214, 212, 212, 0.787);
    border-width: 1px;
  }
  .link {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin: 25%;
    color: #2a76e8;
    border-radius: 5px;
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
  }
  .button {
    background: #2a76e8;
    color: #fff;
    font-size: 15px;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    padding: 15px;
  }
  .login_signup {
    margin-top: 15px;
  }
  .button1 {
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    text-align: center;
    width: 50%;
    margin: 0 25%;
    border-radius: 5px;
    border: none;
    padding: 15px;
  }
  box_facebook {
    display: flex;
    justify-content: right;
    align-items: center;
  }
  
  .groupe input {
    display: inline-block;
    width: 47%;
    margin-right: 10px;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
    border-color: rgba(214, 212, 212, 0.787);
    background-color: rgb(238, 236, 236);
    border-width: 1px;
  }
  
  .simple input {
    width: 98%;
    margin-right: 10px;
    border-radius: 5px;
    padding: 10px;
    border-color: rgba(214, 212, 212, 0.787);
    background-color: rgb(238, 236, 236);
    border-width: 1px;
  }
  
  .simple select {
    width: 30%;
    margin-right: 10px;
    border-radius: 5px;
    padding: 10px;
    border-color: rgba(214, 212, 212, 0.787);
    background-color: white;
    border-width: 1px;
  }
  .box_form p {
    margin-top: -20px;
    color: rgba(103, 102, 102, 0.787);
  }
  
  .box_form hr {
    width: 100%;
    margin-top: -9px;
    margin-bottom: -9px;
    color: rgba(103, 102, 102, 0.787);
  }
  
  .simple label {
    margin-bottom: -9px;
    font-size: 12px;
    color: rgba(103, 102, 102, 0.787);
  }
  .simple {
    margin-top: 15px;
  }
  .groupe2 {
    border-style: solid;
    border-color: rgb(150, 149, 149);
    border-width: 1.5px;
    border-radius: 4px;
  }
  .groupe2 input,
  .groupe2 label {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 15px 2px;
    width: 39%;
    font-size: 14px;
  }
  
  .groupe3 {
    display: inline-block;
    margin-right: 2.2%;
    width: 30%;
  }
  
  .button2 {
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    text-align: center;
    width: 50%;
    margin: 0 25%;
    border-radius: 5px;
    border: none;
    padding: 10px;
  }
  